.comment-title {
  font-size: 2em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-weight: bold;
}

.comment {
  position: relative;
  margin-left: 1em;
  margin-bottom: 2em;
  padding-left: 8.5em;
}

.comment-avatar {
  position: absolute;
  width: 3.25em;
  height: 3.25em;
  top: 0;
  left: 0;
}

.round{
  border-radius: 30px;
}

.comment-author-name {
  font-weight: bold;
  font-size: 1.5em;
  color: black;
  margin-bottom: 0.3em;
}

.comment-timestamp {
  font-size: .8em;
}

.comment-content {
  font-size: 1em;
}

.comment-reply {
  text-align: right;
  padding-right: 1em;
}

.list-comment {
  background-color: white;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0.5em;
}

.send-comment {
  background-color: white;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0.5em;
}

.send-comment-form {
  padding-left: 1em;
  padding-right: 1em;
}

.form-group {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-right: 1em;
}

.submit {
    font-size: 1.1em;
    position: relative;
    width: 190px;
    height: 45px;
    cursor: pointer;
    border: 0;
    background: #1abc9c;
    color: #fff;
    border-radius: 30px;
}

.btn:hover, .btn:focus, .btn-current {
  background: #16a085;
}
