
.fa {
  color: #1abc9c;
  font-size: 1.5em;
  margin-right: .5em;
  padding: 1em;
}

.social-set {
  width: 100%;
  margin: 0 0 .5em;
  padding: 0 0 1em 0;
  text-align: center;
}

.social-footer {
  background: #202b3f;
  padding-bottom: 50px;
}

.copyright {
  color: white;
  text-align: center;
}
