footer {
  background: #202b3f;
  width: 100%;
  bottom: 0;
}

.social-footer {
  padding-bottom: 20px;
}

.social-set {
  width: 100%;
  text-align: center;
}

.social-icon {
  color: #1abc9c;
  padding: 1em;
}

.copyright {
  color: white;
  text-align: center;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  margin: 0;
}
