header {
  height: 70px;
  background: #202b3f;
  width: 100%;
}

.page-header {
  width: 1024px;
  margin: auto;
  height: 70px;
}

.logo {
  position: absolute;
  width: 84px;
  height: 42px;
  margin-top: 15px;
  margin-left: 15px;
}

.logo-text {
  margin-left: 84px;
  color: white;
  font-family: Raleway;
  font-weight: 100;
}
