.post-container {
  width: 1000px;
  margin: auto;
}

.post-title {
  text-align: center;
}

.blog-post-content {
  background-color: white;
  padding-top: 0.5rem;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 0.5em;
}

.date {
  margin-left: 1em;
  margin-top: 1em;
}

p {
  line-height: 1.7;
}

h2 {
  color: #1abc9c;
  letter-spacing: -.01em;
  word-spacing: -.05em;
  font-size: 2em;
  border-bottom: 2px solid #1abc9c;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

h3 {
  color: #1abc9c;
  letter-spacing: -.01em;
  word-spacing: -.05em;
  font-size: 1.6em;
  border-bottom: 1px solid #EEE;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}

h4 {
  color: #1abc9c;
  letter-spacing: -.01em;
  word-spacing: -.05em;
  font-size: 1.2em;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}

h5 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
  letter-spacing: -.01em;
  word-spacing: -.05em;
  font-size: 1.1em;
}

li strong {
  font-size: 1.2em;
  font-weight: bold;
  margin-right: 0.2rem;
}
