<head>
  <link rel="stylesheet" href="/css/main.css">
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="/images/favicon.ico" rel="icon" type="image/x-icon">
  <meta content="Blog Kli4cloud" property="og:title">
  <meta content="Blog about technologies used in kli4cloud" property="og:description">
  <title>{{ page.title }}</title>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
</head>
